/* form */
.form-field {
    margin-bottom: 32px;
}

.form-label {
    display: block;
}

.form-input {
    padding: 16px 42px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-secondary-dark);
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--brand-color);
    outline: none;
}

.form-input::placeholder {
    font-size: 16px;
    color: var(--color-secondary-dark);
}

.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}

.modal h2 {
    margin-bottom: 8px;
}

.subtitle {
    color: var(--brand-color-dark);
    margin-bottom: 72px;
}

.form-button {
    display: block;
    margin: 0 auto 24px;
    transition: color 0.5s, background-color 0.5s;
}

.form-button:hover {
    color: var(--brand-color-dark);
}

.form-terms {
    color: var(--color-primary-dark);
    font-weight: 500;
    font-size: 12px;
    line-height: 146%;
    max-width: 220px;
    margin: 0 auto;
    text-align: center;
}

.form-terms a {
    text-underline-offset: 2px;
    color: var(--color-primary-dark);
}